[*]

# Do not forcefully add a final newline to template files, since that can impact
# HTML rendering.
# Frustratingly, IDEA also *removes* those added manually.
# Better to not have them than to break formatting. 🤷
insert_final_newline = false
