/* Copyright Ion Fusion contributors. All rights reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

body {
    font-family: "Bitter", serif;
    font-weight: 400;
    line-height: 1.5;
}

code, pre {
    font-family: "Monaspace Neon", monospace;
    font-weight: 350;
}

.leftnav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem; /* Sync with main left */
    padding: 0.5rem;
    overflow-y: scroll;
    background-color: lightsteelblue;
}

#toplink {
    /* TODO font */
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: .5rem;
}

.leftnav .version {
    font-size: 0.9rem;
    margin-top: -.5rem;
    margin-left: 1rem;
}

.leftnav h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.leftnav nav {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.leftnav a {
    display: block;
    color: black;
    text-decoration: none;
}

.leftnav a:hover {
    text-decoration: underline;
}


main {
    position: fixed;
    top: 0;
    left: 15rem;     /* Sync with .leftnav width */
    bottom: 0;
    width: auto;
    padding: 0 1rem;
    overflow: scroll;
}
