/* Copyright Ion Fusion contributors. All rights reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

body {
    font-family: "Bitter", serif;
    font-weight: 400;
    line-height: 1.5;
}

code, pre {
    font-family: "Monaspace Neon", monospace;
    font-weight: 350;
}

/* Outermost page layout uses flexbox so the site nav shifts above the main
 * content on narrow viewports.
 */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    nav {
        /* TODO perhaps use intrinsic width? */
        flex-basis: 15rem; /* Width when on the side */
        flex-grow: 1;
    }

    main {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 70%; /* Threshold for flowing inline (right) */
    }
}


/* Formatting of the site navigation. */

body > nav {
    padding: 0.5rem;
    overflow-y: scroll;
    background-color: lightsteelblue;

    .logotype {
        font-size: 2rem;
        font-weight: bold;
        margin-left: 0;
        margin-bottom: .5rem;
    }

    .version {
        font-size: 0.9rem;
        margin-top: -.5rem;
        margin-left: 1rem;
    }

    h1 {
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
    }

    nav {
        margin-left: 1rem;
        margin-bottom: .5rem;
    }

    a {
        display: block;
        color: black;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}


/* Formatting of the main content area. */

main {
    padding: 0 1rem;
    overflow: scroll;
}
