/* Copyright Ion Fusion contributors. All rights reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

body {
    font-family: "Bitter", serif;
    font-weight: 400;
    line-height: 1.5;
}

code, pre {
    font-family: "Monaspace Neon", monospace;
    font-weight: 350;
}

/* Outermost page layout uses flexbox so the site nav shifts above the main
 * content on narrow viewports.
 */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    nav {
        /* TODO perhaps use intrinsic width? */
        flex-basis: 15rem; /* Width when on the side */
        flex-grow: 1;
    }

    main {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: 70%; /* Threshold for flowing inline (right) */
    }
}

.leftnav {
    padding: 0.5rem;
    overflow-y: scroll;
    background-color: lightsteelblue;
}

#toplink {
    /* TODO font */
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: .5rem;
}

.leftnav .version {
    font-size: 0.9rem;
    margin-top: -.5rem;
    margin-left: 1rem;
}

.leftnav h1 {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.leftnav nav {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.leftnav a {
    display: block;
    color: black;
    text-decoration: none;
}

.leftnav a:hover {
    text-decoration: underline;
}


main {
    padding: 0 1rem;
    overflow: scroll;
}
