/* Copyright Ion Fusion contributors. All rights reserved. */
/* SPDX-License-Identifier: Apache-2.0 */

nav.submodules .oneliner p {
  display: inline;
}

nav.exports ol {
  list-style-type: none;
  padding-left: 1em;
}
nav.exports li {
  display: inline;
  margin-right: .5em;
}

.export {
  display: block;

  /* Use the same space on both sides of the separator line. */
  margin-block: 1.5rem;
  border-top: 1px solid #999;
  padding-top: 1.5rem;
}

.export .name {
  font-family: monospace;
  font-size: 1.17em;
  font-weight: bold;
}
.export .kind {
  float: right; font-style: italic;
}
.export .nodoc {
  font-style: italic;
}
.export .doc {
   margin-left: 1em;
}
.export .also {
  font-size: 0.8em;
  font-style: italic;
}

/* Highlight the targeted section when arriving via a link.
/* From http://css-tricks.com/on-target/  */
:target.export {
  -moz-animation:    highlight 2s ease;
  -webkit-animation: highlight 2s ease;
}
@-moz-keyframes highlight {
    0% { background: yellow; }
  100% { }
}
@-webkit-keyframes highlight {
    0% { background: yellow; }
  100% { }
}
